<div class="row-is-full content has-text-centered text-decoration-none">
    <p class="text-decoration-none">
        <strong><i class="fas fa-wine-glass-alt"></i>Wine Inventory</strong>
    </p>
</div>