<main class="">
    <div class="container">
        <div class="d-flex justify-content-around align-items-center p-3">
            <h2 class="text-light">My Inventory</h2>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Add +
            </button>

            {{!-- FIXME: fade only works on the add button, not the edit functionality --}}
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header rounded-0">
                            <div id="title-div">
                                <h5 class="modal-title" id="exampleModalLabel">Add A Wine</h5>
                                <h6 id="sub-title"></h6>
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <form class="new-wine">
                                <div>
                                    <label for="wine">Wine:</label>
                                    <input class="modal-input" type="text" name="wine" id="wine" placeholder="What is the name of your wine?">
                                </div>
                                {{!-- wine type --}}
                                <div>
                                    <label for="size">Select a bottle size:</label>
                                    {{!-- Current bottle sizes, leave this hardcoded --}}
                                    <select class="modal-input" name="size" id="sizes">
                                        <option value="" hidden>Choose a bottle size...</option>
                                        <option value="750 ml">750 ml</option>
                                        <option value="500 ml">500 ml</option>
                                        <option value="375 ml">375 ml</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="retail-price">Price:</label>
                                    <input class="modal-input" type="number" id="retail-price" placeholder="What is the retail price of the wine?"/>
                                </div>
                                <div>
                                    <label for="notes">Additional Notes:</label>
                                    <textarea  class="modal-input" type="text" id="notes" placeholder="Any notes about this wine?"></textarea>
                                </div>
                                <div>
                                    <label for="Wine Image">Have a picture to share? (Required)</label>
                                    <input class="modal-input" type="file" id="input-image" accept="image/*" />
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"  id="close-btn" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="update">Update</button>
                            <button type="button submit" class="btn btn-primary" id="submit">Add</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <ol class="container animate__animated animate__fadeInUp">
        {{#if wines.length}}
            {{#each wines as |wine|}}
                {{>edit-cards wine}}
            {{/each}}
        </ol>
        {{else}}
            <h6 class="text-center text-light font-italic m-3">You do not currently have any wines!</h6>
        {{/if}}
    </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="/javascript/wine.js"></script>