header {
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    padding: 1rem;
}

a:hover {
    text-decoration: none;
    color: black;
}

main {
    background-color: #49111C;
    padding: 0 0 15px 0;
}

footer {
    text-align: center;
    text-decoration: none;
}

.comment-body {
    height: 120px;
    width: 100%;
}

#wine-pic {
    width: 200px;
    height: 300px;
}

[id^="wine-pic"] {
    width: 200px;
    height: 300px;
}

.inv-head {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

.btn-primary {
    background-color: #F2AE2E;
    border: none;
    opacity: 1;
}

.btn-primary:hover {
    background-color: #D99D55;
}

#ham-nav {
    display: none;
}

.pull-right {
    float: none;
}

.hero {
    background-image: url("/images/hero_crop.jpg");
    background-size: cover; 
    height: 30rem;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .desktop {
        display: none;
    }

    #ham-nav {
        display: block;
    }

    header .icon {
        margin: 1rem;
        position: absolute;
        right: 0;
        top: 0;
    }

    /* The side navigation menu */
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        right: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    
    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
    }

    .logout {
        color: white;
    }
    
    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #f1f1f1;
    }
    
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
        transition: margin-left .5s;
        padding: 20px;
    }
    
    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }
}

@media only screen and (max-width: 575px){
    h1 {
        font-size: 2rem;
    }

    .topnav a.icon {
        height: auto;
    }

    .card-title {
        display: block;
        margin-right: 10;
    }

    .wine-title {
        display: table-cell;
    }
}